@keyframes background-anim {
    0% {
        background-position: 0, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}

a {
    color: rgb(146, 145, 145);

    text-decoration: none;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    /* ...and now for the proper property */
    transition:.5s;
}

a:hover {
    color: white;
    text-decoration: underline;
}


body {
    background-image: linear-gradient(125deg,#2c2c3a,#22222e, #212836, #2a2f35);
    background-size: 400% 400%;
    color: #ffffff;
    font-family: 'Balsamiq Sans', cursive;
    animation: background-anim 5s infinite, ease-in-out;
}
.main_head {
    background-image: url(../img/code_1.png);
    background-size: 100%;
    width: 80%;
    margin:auto;
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    border-right: 5px rgb(0, 0, 0) solid;
    border-top: 5px rgb(0, 0, 0) solid;
    border-left: 5px rgb(0, 0, 0) solid;
    border-bottom: 5px rgb(0, 0, 0) solid;
    border-radius: 5px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}
#under-header {
    font-size: 20px;
    margin-left: 10%;
    word-spacing: 50px;
}
#vr_image {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.text  {
    margin-left: 10%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.text h1 {
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: black;
}
