body {
    background-color: #282c34;
    color: #ffffff;
    font-family: 'Balsamiq Sans', cursive;
}
.main_head {
    background-image: url(../img/code_1.png);
    background-size: 100%;
    width: 80%;
    margin:auto;
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    border-right: 5px rgb(0, 0, 0) solid;
    border-top: 5px rgb(0, 0, 0) solid;
    border-left: 5px rgb(0, 0, 0) solid;
    border-bottom: 5px rgb(0, 0, 0) solid;
    border-radius: 5px;
}
#under-header {
    font-size: 20px;
    margin-left: 10%;
    word-spacing: 50px;
}
#vr_image {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.text {
    margin-left: 8em
}